.Header {
  height: 200px;
  padding-top: 20px;
  padding-left: 15px;
    background-color: black;
  color: white;
}

#subtitle {
  font-size: 18px;
  text-align: left;
}

.Navigation ul {
  padding-top: 20px;
  padding-right: 15px;
  margin: 0;
}

.Navigation ul li {
  margin-right: 20px;
}

.Navigation ul li a {
  color: white;
}

.About, .Portfolio {
  margin-top: 25px;
  padding: 16px;
}

.Contact {
  font-size: 24px;
}

.Contact > div {
  padding-right: 75px;
}

.Footer {
  padding: 50px 0 0 100px;
}