.Header {
  height: 200px;
  padding-top: 20px;
  margin-bottom: 30px;
  padding-left: 15px;
  background-color: black;
  color: white;
}

#subtitle {
  font-size: 18px;
  text-align: left;
}

.Navigation ul {
  padding-top: 20px;
  padding-right: 15px;
  margin: 0;
}

.Navigation ul li {
  margin-right: 20px;
}

.Navigation ul li a {
  color: white;
}

.About,
.Portfolio {
  margin-top: 25px;
  padding: 15px;
}

.project {
  flex: 1 0 48%;
  margin-bottom: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 30px;
  justify-content: space-between;
  gap: 20px;
}

.projects .card {
  flex: 1 0 48%;
  background-color: black;
  color: white;
}

.projects .card .btn {
  margin-right: 20px;
}

.Contact {
  font-size: 24px;
}

.Contact > div {
  padding-right: 75px;
}

.Footer {
  position: relative;
  padding: 50px 0 0 100px;
}