body {
  padding: 30px;
}

@media only screen and (max-width: 768px) {

  .Header {
      height: 125px;

  }
  #subtitle {
      font-size: 14px;
  }
  .Navigation ul li a {
      font-size: 16px;
  }
  .About, .Portfolio, .Contact {
      flex-direction: column;
  }
  .Contact > div {
      padding-right: 25px;
  }
}